<h1>Registro de filial</h1>

<% @subsidiary.errors.full_messages.each do |message| %>
    <p><%= message %></p>
<% end %>
<%= form_with model: @subsidiary, local: true do |f| %>

<div>
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<div>
<%= f.label :address %>
<%= f.text_field :address %>
</div>

<div>
<%= f.label :cnpj %>
<%= f.text_field :cnpj %>
</div>

<%= f.submit 'Enviar'%>

<% end %>