<%= form_with model: @subsidiary, local: true do |f| %>

<div>
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<div>
<%= f.label :address %>
<%= f.text_field :address %>
</div>

<div>
<%= f.label :CNPJ %>
<%= f.text_field :CNPJ %>
</div>

<%= f.submit 'Enviar'%>

<% end %>