<%= form_with model: @car_category, local: true do |f| %>
    <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
    </div>
    <div>
    <%= f.label :daily_rate, 'Diária' %>
    <%= f.number_field :daily_rate, min: 0 %>
    </div>
    <div>
    <%= f.label :car_insurance, 'Seguro do carro' %>
    <%= f.number_field :car_insurance, min: 0 %>
    </div>
    <div>
    <%= f.label :third_party_insurance, 'Seguro para terceiros' %>
    <%= f.number_field :third_party_insurance, min: 0 %>
    </div>
    <%= f.submit 'Enviar'%>
<% end %>