<header>
<%= link_to "Voltar", car_categories_path %>

<%= link_to "Editar", edit_car_category_path(@car_category) %>

<h1><%= @car_category.name %></h1>
</header>
<dl> 
  <dt>Diária</dt> 
  <dd><%= number_to_currency @car_category.daily_rate %></dd> 
  <dt>Seguro do Carro</dt> 
  <dd><%= number_to_currency @car_category.car_insurance %></dd> 
  <dt>Seguro de Terceiros</dt> 
  <dd><%= number_to_currency @car_category.third_party_insurance %></dd> 
</dl>

